/* .movie {
  width: 270px;
  height: 218px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  transition: opacity 0.35s linear;
  cursor: pointer;
  background-color: rgba(34, 34, 34, 1);
}

.movie:focus {
  outline: none;
}

.movie:focus-within {
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
} */

/* .movie__image {
  width: 270px;
  height: 151px;
  object-fit: cover;
}

.movie__info {
  width: 272px;
  display: flex;
  justify-content: space-between;
}

.movie__figcaption {
  margin: 16px 0 16px 16px;
}

.movie__title {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie__duration {
  margin: 10px 0 0 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #A0A0A0;
} */

/* .movie__trailer-link {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.35s linear;
}

.movie__trailer-link:hover {
  opacity: 80%;
}

.movie__image {
  width: 270px;
  height: 151px;
  object-fit: cover;
}

.movie__info {
  width: 272px;
  display: flex;
  justify-content: space-between;
}

.movie__figcaption {
  display: flex;
  flex-direction: column;
  margin: 12px 8px 6px 10px;
  width: calc(100% - 55px);
}

.movie__title {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie__duration {
  margin: 10px 0 0 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #A0A0A0;
}

.movie__like-button {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  transition: opacity 0.35s linear;
  cursor: pointer;
  background-color: transparent;
}

.movie__like-button:hover {
  opacity: 80%;
} */



/*
  display: flex;
  flex-direction: column;
  margin: 12px 8px 6px 10px;
  width: calc(100% - 55px);
} 

*/

.movie {
  max-width: 364px;
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  background-color: rgba(34, 34, 34, 1);
}

.movie__trailer-link {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.35s linear;
}

.movie__trailer-link:hover {
  opacity: 80%;
}

.movie__image {
  width: 100%;
  height: 151px;
  object-fit: cover;
}

.movie__info {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 16px);
  margin: 9px 0 16px 0;
  align-items: flex-start;
}

.movie__figcaption {
  display: flex;
  flex-direction: column;
  margin: 4px 12px 10px 0;
  width: calc(100% - 62px);
}

.movie__title {
  margin: 0;
  width: 100%;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie__duration {
  margin: 10px 0 0 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
  font-weight: 400;
  color: #A0A0A0;
}

.movie__like-button {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  transition: opacity 0.35s linear;
  cursor: pointer;
  background-color: transparent;
}

.movie__like-button:hover {
  opacity: 80%;
}


@media screen and (max-width: 1279px) {
  .movie {
    width: 270px;
    height: 235px;
  }

  .movie__image {
    width: 100%;
    height: 151px;
    object-fit: cover;
  }

  .movie__info {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 980px) {

  .movie {
    width: 339px;
    height: 257px;
  }

  .movie__info {
    width: 339px;
    display: flex;
    justify-content: space-between;
    margin: 1px 0 16px 0;
  }

  .movie__image {
    width: 339px;
    height: 190px;
  }

  .movie__figcaption {
    margin: 14px 0 14px 14px;
  }

  .movie__like-button {
    margin: 14px 5px 0 0;
  }

  .movie__duration {
    margin: 8px 0 0 0;
  }
}

@media screen and (max-width: 767px) {

  .movie {
    width: 100%;
  }

  .movie__info {
    width: 100%;
    margin: 1px 0 16px 0;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 680px) {

  .movie {
    /* width: 300px; */
    height: 235px;
  }

  .movie__info {
    /* width: 339px; */
    margin: 1px 0 16px 0;
    display: flex;
    justify-content: space-between;
  }

  .movie__image {
    width: 300px;
    height: 168px;
  }

  .movie__title {
    font-size: 12px;
    line-height: 15px;
  }

  .movie__duration {
    margin: 14px 0 0 0;
    font-size: 10px;
    line-height: 12px;
  }
}