/* .card {
  width: 360px;
  position: relative;
}

.card__image {
  width: 360px;
  height: 201px;
  border-radius: 6px;
}

.card__description {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px 0;
}

.card__name {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__duration {
  display: block;
  border-radius: 3px;
  background-color: #F9F9F9;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  color: #A0A0A0;
  padding: 3px 4px;
}

.card__button {
  position: absolute;
  top: 14px;
  right: 10px;
  background-color: #F9F9F9;
  border: none;
  border-radius: 30px;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  padding: 6px 7px;
  cursor: pointer;
  visibility: hidden;
}

.card:hover .card__button {
  visibility: visible;
}

.card__button_saved {
  position: absolute;
  top: 14px;
  right: 14px;
  background-image: url('../../images/save-passive.svg');
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.card__button_delete {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 21px;
  height: 21px;
  background-image: url('../../images/x.svg');
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  visibility: hidden;
}

.card:hover .card__button_delete {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .card {
    width: 339px;
  }

  .card__image {
    width: 339px;
    height: 190px;
  }

  .card__description {
    padding: 25px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .card {
    width: 300px;
  }

  .card__image {
    width: 300px;
    height: 168px;
  }

  .card__description {
    padding: 16px 0 0;
  }

  .card__name {
    font-size: 12px;
    line-height: 15px;
  }
} */

.movies__card {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  height: 218px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  transition: opacity 0.35s linear;
  cursor: pointer;
  background-color: rgba(34, 34, 34, 1);
}

.movies__card:focus {
  outline: none;
}

.movies__card:focus-within {
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
}

.movie__image {
  max-width: 270px;
  height: 151px;
}

.movie__info {
  display: flex;
  justify-content: space-between;
  width: 272px;
}

.movie__figcaption {
  margin: 16px 0 16px 16px;
}

.movie__title {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie__duration {
  margin: 10px 0 0 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
  font-weight: 400;
  color: #A0A0A0;
}

.movie__like-button {
  padding: 0;
  margin: 16px 24px 0 0;
  height: 12px;
  width: 14px;
  border: none;
  background-color: transparent;
  transition: opacity 0.35s linear;
  cursor: pointer;
}

.movie__like-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 980px) {
  .movie__image {
    height: 190px;
    width: 339px;
  }

  .movie__figcaption {
    margin: 14px 0 14px 14px;
  }

  .movie__like-button {
    margin: 15px 22px 0 0;
  }

  .movie__duration {
    margin: 15px 0 0 0;
  }
}

@media screen and (max-width: 680px) {
  .movie__image {
    height: 168px;
    width: 300px;
  }

  .movie__title {
    font-size: 12px;
    line-height: 15px;
  }

  .movie__duration {
    margin: 14px 0 0 0;
    font-size: 10px;
    line-height: 12px;
  }

  .movie__like-button {
    margin: 14px 18px 0 0;
  }
}
