.movies {
  width: 1140px;
  margin: 50px 70px 10px;
  display: flex;
  flex-direction: column;
  color: rgba(32, 32, 32, 1);
}

@media screen and (max-width: 1279px) {
  .movies {
    max-width: calc(100% - 140px);
    margin: 50px 70px 10px;
  }
}

@media screen and (max-width: 900px) {
  .movies {
    max-width: calc(100% - 60px);
    margin: 80px 30px 10px;
    /* width: 708px; */
  }
}

@media screen and (max-width: 680px) {
  .movies {
    max-width: calc(100% - 20px);
    margin: 80px 10px 10px;
  }
}