/* .movies {
  padding: 0 70px 80px;
} */

.movies__container {
  display: flex;
  flex-direction: column;
  margin: 50px 70px 10px;
  /* max-width: calc(100% - 140px); */
  width: 1140px;
  color: rgba(32, 32, 32, 1);
}

@media screen and (max-width: 900px) {
  .movies__container {
    margin: 80px 30px 10px;
    max-width: calc(100% - 60px);
  }

}

@media screen and (max-width: 680px) {
  .movies__container {
    margin: 80px 10px 10px;
    max-width: calc(100% - 20px);
  }
}
