.notfound {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notfound__text-block {
  width: 400px;
  margin: 246px 0 184px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notfound__title {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 140px;
  line-height: 169px;
  font-weight: 400;
}

.notfound__subtitle {
  margin: 5px 0 0 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.notfound__link {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.35s linear;
  cursor: pointer;
  color: #000000;
}

.notfound__link:hover {
  opacity: 80%;
}

@media screen and (max-width: 768px) {
  .notfound__text-block {
    margin: 408px 0 184px 0;
  }
}

@media screen and (max-width: 440px) {
  .notfound__text-block {
    margin: 329px 0 284px 0;
  }

  .notfound__title {
    font-size: 80px;
    line-height: 97px;
  }

  .notfound__subtitle {
    margin: 10px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .notfound__link {
    font-size: 12px;
    line-height: 15px;
  }
}
