/* .page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}

.page__info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.page__status {
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  margin-bottom: 5px;
  display: block;
}

.page__notfound {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.page__link {
  color: #FF6838;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: 0.3s ease;
  position: absolute;
  bottom: 60px;
}

.page__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 420px) {
  .page__status {
    font-size: 80px;
    line-height: 97px;
    margin-bottom: 10px;
  }

  .page__notfound {
    font-size: 12px;
    line-height: 15px;
  }

  .page__link {
    font-size: 12px;
    line-height: 15px;
  }
} */

.notfound__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.notfound__text-block {
  margin: 246px 0 184px 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notfound__title {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 140px;
  line-height: 169px;
  font-style: normal;
  font-weight: 400;
}

.notfound__subtitle {
  margin: 5px 0 0 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  font-weight: 400;
}

.notfound__link {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  transition: opacity 0.35s linear;
  cursor: pointer;
}

.notfound__link:hover {
  opacity: 80%;
}

@media screen and (max-width: 768px) {
  .notfound__text-block {
    margin: 408px 0 184px 0;
  }
}

@media screen and (max-width: 440px) {
  .notfound__text-block {
    margin: 329px 0 284px 0;
  }

  .notfound__title {
    font-size: 80px;
    line-height: 97px;
  }

  .notfound__subtitle {
    margin: 10px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .notfound__link {
    font-size: 12px;
    line-height: 15px;
  }
}
