/* .navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navigation a {
  transition: 0.3s ease;
}

.navigation a:hover {
  opacity: 0.7;
}

.navigation__movies {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
}

.navigation__movies a {
  color: #000000;
}

.navigation__movies_white a {
  color: #FFFFFF;
}

.navigation__movies-link {
  font-weight: 400;
  text-decoration: none;
  margin-right: 16px;
}

.navigation__movies-link:last-of-type {
  margin-right: 0;
}

.navigation__movies-link_active {
  font-weight: 500;
  text-decoration: none;
  margin-right: 16px;
}

.navigation__auth {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.navigation__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 30px;
}

.navigation__button {
  padding: 8px 20px;
  background-color: #2BE080;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease;
}

.navigation__button:hover {
  opacity: 0.8;
}

.navigation__button_account {
  padding: 8px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border: none;
  border-radius: 20px;
  background-color: #F9F9F9;
  cursor: pointer;
  transition: 0.3s ease;
}

.navigation__button_account:hover {
  opacity: 0.8;
}

.burger__button {
  background: none;
  background-image: url('../../images/burger.svg');
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  display: none;
}

/* .burger__button_white {
  background-image: url('../../images/burger-menu-white.svg');
} */

/* @media screen and (max-width: 768px) {
  .navigation__movies,
  .navigation__button_account {
    display: none;
  }

  .burger__button {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .navigation__link {
    margin-right: 14px;
  }
} */



.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  width: calc(100%/2 + 124px);
}

.navigation__links {
  display: flex;
  list-style-type: none;
  height: 32px;
  border-radius: 40px;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  transition: opacity 0.35s linear;
  cursor: pointer;
}

.navigation__link:hover {
  opacity: 80%;
}

.navigation__links_account {
  display: flex;
}

.navigation__account-button {
  width: 90px;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: transparent;
}

.navigation__account-logo {
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 6px 0;
  background-color: rgba(103, 104, 104, 0.5);
  transition: opacity 0.35s linear;
  cursor: pointer;
}

.navigation__account-logo:hover {
  opacity: 80%;
}

.navigation__link-movies {
  font-weight: 500;
  padding: 0 16px 0 0;
}

.navigation__account-burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation__account-burger {
    display: block;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 4px 0 0 0;
    border: 0;
    background-image: url(../../images/menu.svg);
    background-color: transparent;
    transition: opacity 0.35s linear;
    cursor: pointer;
  }

  .navigation__account-burger:hover {
    opacity: 80%;
  }

  .navigation__link {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .navigation__account-burger {
    width: 22px;
    height: 21px;
    background-size: cover;
  }
}