.searchform {
  margin: 0;
  padding: 0;
  display: flex;
}

.searchform__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
  background-color: rgba(32, 32, 32, 1);
}

.searchform__form:focus-within {
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
}

.searchform__input-block {
  width: calc(100% - 10px);
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  background-color: rgba(32, 32, 32, 1);
}

.searchform__input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  text-align: start;
  background-color: transparent;
  color: #A0A0A0;
  outline: 0;

}

.searchform__input:focus {
  outline: 1px solid #303131;
}

.searchform__button {
  width: 34px;
  height: 34px;
  margin: 16px 0;
  padding: 0;
  border: none;
  border-radius: 48px;
  background-image: url("../../images/search-movies-blue.svg");
  background-repeat: no-repeat;
  transition: opacity 0.35s linear;
  cursor: pointer;
}

.searchform__button:hover {
  opacity: 80%;
}



@media screen and (max-width: 900px) {

  .searchform__button {
    width: 34px;
    height: 34px;
    margin: 14px 0;
  }
}

@media screen and (max-width: 650px) {
  .searchform__form {
    flex-direction: column;
    position: relative;
  }

  .searchform__input-block {
    width: 100%;
  }

  .searchform__input {
    width: calc(100% - 44px);
    padding: 0 0 0 6px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    background-position: -20px 50%;
  }

  .searchform__button {
    width: 34px;
    height: 34px;
    margin: 14px 0;
    background-color: rgba(32, 32, 32, 1);
  }
}

.search-form__submit-error {
  display: flex;
  margin-top: 2px;
  color: #FF004C;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0;
  align-self: flex-start;
  min-height: 14px;
}

.search-form__submit-error_active {
  opacity: 1;
}