/* .footer {
  padding: 59px 70px 20px;
  background-color: #FAFAFA;
}

.footer__text {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
  padding: 20px 0;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 20px;
}

.footer__bottom-block {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__socials {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  gap: 20px;
}

.footer__link {
  color: #000000;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer__link {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 59px 30px 20px;
  }
}

@media screen and (max-width: 420px) {
  .footer {
    padding: 59px 10px 10px;
  }

  .footer__text {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 21px;
    margin-bottom: 30px;
  }

  .footer__bottom-block {
    flex-direction: column;
    align-items: center;
  }

  .footer__copyright {
    order: 2;
    color: #A0A0A0;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__socials {
    font-size: 12px;
    line-height: 15px;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    margin-bottom: 30px;
  }
} */

.footer__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: calc(100% - 140px);
  color: #ffffff;
}

.footer__subtitle {
  margin: 79px 0 20px 0;
  padding: 0;
  color: #A0A0A0;
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
}

.footer__infoblock {
  border-top: 1px solid rgba(66, 66, 66, 1);
  display: flex;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__copyright {
  margin: 0;
  padding: 20px 20px 20px 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
}

.footer__link {
  margin: 0;
  padding: 20px 20px 20px 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
  transition: opacity 0.35s linear;
  cursor: pointer;
}

.footer__link:hover {
  opacity: 80%;
}

.footer__link:last-of-type {
  padding: 20px 0 20px 0;
}

.footer__link-text {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  .footer__container {
    max-width: calc(100% - 60px);
  }
}

@media screen and (max-width: 550px) {
  .footer__container {
    max-width: calc(100% - 20px);
  }

  .footer__subtitle {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__infoblock {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
  }

  .footer__link {
    padding: 30px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__link:last-of-type {
    padding: 12px 0 0;
  }

  .footer__copyright {
    margin: 30px 0 20px 0;
    padding: 0;
    font-size: 12px;
    line-height: 15px;
  }
}