/* .nav-tab {
	border-radius: 3px;
	width: 129px;
	height: 36px;
	border: 1px solid rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-tab:hover {
	cursor: pointer;
	opacity: 0.6;
	transition: background-color ease-out 0.5s;
}

.nav-tab__link {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	background-color: transparent;
	box-sizing: border-box;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border: none;
}

.nav-tab__link:hover {
	cursor: pointer;
	opacity: 0.6;
	transition: background-color ease-out 1s;
}

.nav-tab__link:active {
	cursor: pointer;
	opacity: 0.6;
	transition: background-color ease-out 1s;
} */






.navTab {
  display: flex;
  background-color: rgba(7, 48, 66, 1);
}

.navTab__button {
  margin: 0 auto 75px 70px;
  padding: 0;
  background-color: rgba(7, 48, 66, 1);
	color: #FFFFFF;
  width: 129px;
  height: 36px;
  border-radius: 3px;
  border: solid 1px #FFFFFF;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-weight: 500;
  transition: opacity 0.35s linear;
  cursor: pointer;
}

.navTab__button:hover {
  opacity: 80%;
}

@media screen and (max-width: 768px) {
  .navTab {
    justify-content: center;
  }

  .navTab__button {
    margin: 0 auto 75px 0;
  }
}

@media screen and (max-width: 470px) {
  .navTab__button {
    margin: 0 auto 30px 0;
  }
}
